@model ParentCategoryViewModel
@{
    this.ViewData["Title"] = "Edit";
}

<div class="card spur-card">
    <div class="card-header">
        <div class="spur-card-icon">
            <i class="fas fa-chart-bar"></i>
        </div>
        <div class="spur-card-title"> Edit Your Gender Category </div>
    </div>
    <div class="card-body ">
        <form asp-area="Administration" asp-controller="ParentCategories" asp-action="Edit" method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" class="btn btn-danger">Update</button>
        </form>
    </div>
</div>