@{
    this.ViewData["Title"] = "Contact Us";
}
<div class="map spad">
    <div class="container">
        <div class="map-inner">
            <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=ulitsa%20%22Aleksandrovska%22,%20Burgas+(Ac%20Milan%20Store)&amp;t=&amp;z=19&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" height="610" style="border:0" allowfullscreen="">
            </iframe>
            <div class="icon">
                <i class="fa fa-map-marker"></i>
            </div>
        </div>
    </div>
</div>

<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="contact-title">
                    <h4>Contacts Us</h4>
                    <p>
                        Our Customer Care service is at our users’ disposal for any request of information related to products, orders, deliveries, personal data and web site services.
                        You can contact us as follows:
                    </p>
                </div>
                <div class="contact-widget">
                    <div class="cw-item">
                        <div class="ci-icon">
                            <i class="ti-location-pin"></i>
                        </div>
                        <div class="ci-text">
                            <span>Address:</span>
                            <p>Bulgaria, Burgas, Aleksandrovska</p>
                        </div>
                    </div>
                    <div class="cw-item">
                        <div class="ci-icon">
                            <i class="ti-mobile"></i>
                        </div>
                        <div class="ci-text">
                            <span>Phone:</span>
                            <p>+056 12-43</p>
                        </div>
                    </div>
                    <div class="cw-item">
                        <div class="ci-icon">
                            <i class="ti-email"></i>
                        </div>
                        <div class="ci-text">
                            <span>Email:</span>
                            <p>testMilanStore@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>