<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="footer-left">

                <ul>
                    <li>Address: "Bulgaria, Burgas, Aleksandrovska"</li>
                    <li>Phone: +056 12-43</li>
                    <li>Email: testMilanStore@gmail.com</li>
                </ul>
                <div class="footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 offset-lg-1">
            <div class="footer-widget">
                <h5>Information</h5>
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="Contacts">Contact</a></li>
                    <li><a asp-controller="Home" asp-action="Faq">FAQ</a></li>
                    <li><a asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="footer-widget">
                <h5>My Account</h5>
                <ul>
                    <li><a asp-area="Identity" asp-page="/Account/Manage/Index">My Account</a></li>
                    <li><a asp-controller="ShoppingCarts" asp-action="Index">Shopping Cart</a></li>
                    <li><a href="#">Shop</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-logo">
            <a href="#"><img src="" alt=""></a>
        </div>
    </div>
</div>
<div class="copyright-reserved">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="copyright-text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
                @*<div class="payment-pic">
                        <img src="img/payment-method.png" alt="">
                    </div>*@
            </div>
        </div>
    </div>
</div>