<form asp-area="" asp-controller="Products" asp-action="All" method="get">
    <div class="advanced-search">
        <button type="button" class="category-btn">All Products</button>
        <div class="input-group">
            <label for="SearchTerm"></label>
            <input type="text" id="SearchTerm" name="SearchTerm" placeholder="What do you need?">
            <button type="submit" class="bg-danger"><i class="ti-search"></i></button>
        </div>
    </div>
</form>